---
Language: Cpp

BasedOnStyle: Google

IndentWidth: 2
ColumnLimit: 100

# AlignConsecutiveAssignments:
#   Enabled:         true
#   PadOperators:    true
# AlignConsecutiveDeclarations:
#   Enabled:         true
#   PadOperators:    true
# AlignConsecutiveMacros:
#   Enabled:         true
#   PadOperators:    true
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Left
---
